dl{
     border-bottom:1px dashed #cfcfcf;
     margin:0;
     padding: 0;
     display:flex;
}
 .info-property{
     padding:10px 20px 5px;
     border: 1px solid #d4d6d8;
     border-radius:8px;
     margin-top: 15px;
     margin-right:10px;
     line-height: 1.5;
     box-shadow: 0 4px 18px -4px rgba(0,0,0,.1);
}
.info-property dl dt{
    float:left;
    width:140px;
    vertical-align: top;
}
.info-property dl dd{
    margin-bottom:0;
}
.title h5{
    border-left:2px solid #2baab1;
    padding-left:10px;
    margin-top:8px;
    margin-bottom:6px;
}
.ystep1{
    margin-top: 25px;
    margin-left: 25px;
}
.table-list{
    padding: 20px;
    padding-top:0;
    width: 66.66666667%;
    float:left;
}
/* 审批按钮组 */
.approval{
    margin-top: 15px;
    float: right;
}
.approval button{
    margin-right: 15px;
}

/* 垂直时间轴 */
.point-time {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 17px;
  left: 20%;
  background: #1c87bf;
  margin-left: -4px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #fff;
}

.text-red {
  color: #f6393f;
}

.text-blue {
  color: #1c87bf;
}

.text-green {
  color: #95c91e;
}

.text-yellow {
  color: #ffb902;
}

.text-purple {
  color: #d32d93;
}

.point-red {
  background-color: #f6393f;
}

.point-blue {
  background-color: #1c87bf;
}

.point-green {
  background-color: #95c91e;
}

.point-yellow {
  background-color: #ffb902;
}

.point-purple {
  background-color: #d32d93;
}

.content {
    width: 33%;
    float: left;
    height: 100%;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}
.content article {
  position: relative;
}
.content article > h3 {
  width: 15%;
  height: 20px;
  line-height: 20px;
  text-align: right;
  font-size: 1.4em;
  color: #1d1d1d;
  padding: 10px 0 20px;
}
.content article section {
  padding: 0 0 17px;
  position: relative;
}
.content article section:before {
  content: "";
  width: 5px;
  top: 17px;
  bottom: -17px;
  left: 20%;
  background: #e6e6e6;
  position: absolute;
}
.content article section:last-child:before {
  display: none;
}
.content article section time {
  width: 15%;
  display: block;
  position: absolute;
}
.content article section time > span {
  display: block;
  text-align: right;
}
.content article section aside {
  color: #3a3a38;
  margin-left: 25%;
  padding-bottom: 15px;
}
.content article section .brief {
  color: #9f9f9f;
}

/* 消息中心详情 */
.message_info{
    padding: 20px;
    padding-top:0;
    margin: 0 auto;
}

.message_header{
    border-bottom: 1px solid #e1e6eb;
    text-align: center;
}

.message_header .message_meta span{
    color: #999;
}

.cmdb-detail{
    padding: 20px;
    padding-top:0;
    width: 50%;
    float:left;
}
.cmdb-detail dl{
     border-bottom:1px dashed #cfcfcf;
     margin-bottom: 15px;
     padding: 0;
     display:flex;
}
