{% extends 'form.html' %}
{% load staticfiles %}
{% block page_title %}业务用户权限变更{% endblock %}
{% block table_title %}申请{% endblock %}
{% block ext_before %}
<style type="text/css">
    #app{padding-bottom:10px;}
</style>
{% endblock %}
{% block page_form %}
    {% for field in projectform %}
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ field.label }}</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
            {{ field }}
            </div>
        </div>
        {% if field.label == "用户" %}
            <input name="doublebox" multiple="multiple" hidden id="id_doublebox">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">选择角色</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div id="app">
                    <transfer
                        :data="data1"
                        :target-keys="targetKeys1"
                        :list-style="listStyle"
                        filterable
                        :render-format="render1"
                        :operations="['To left','To right']"
                        not-found-text="请选择用户"
                        @on-change="handleChange1"></transfer>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block ext_script %}
    <!-- import Vue.js -->
    <script src="{% static 'vuejs/vue.min.js' %}"></script>
    <!-- import iView -->
    <script src="{% static 'vuejs/iview.min.js' %}"></script>
    <script>
    $(function () {
        let mockData = [];
        var TargetKeys = [];
        $('#user').change(function () {
            mockData.splice(0,mockData.length);
            TargetKeys.splice(0,TargetKeys.length);
            if ($(this).val() == ''){
                return false
            }
            $.get('/get_user_authority_' + $(this).val() + '/', function (dict) {
                $.each(dict.data2, function (index, item) {
                    mockData.push({
                        key: item[0],
                        label: item[1],
                        description: item[1],
                        disabled: false
                    });
                });
                $.each(dict.data1, function (index, item) {
                    TargetKeys.push(item[0]);
                });
                document.getElementById("id_doublebox").value=TargetKeys;
            });
        });
        var Main = {
            data () {
                return {
                    data1: mockData,
                    targetKeys1: TargetKeys,
                    listStyle: {
                    width: '40%',
                    height: '300px'
                }
                }
            },
            methods: {
                render1 (item) {
                    return item.label;
                },
                handleChange1 (newTargetKeys, direction, moveKeys) {
                    document.getElementById("id_doublebox").value=newTargetKeys;
                    this.targetKeys1 = newTargetKeys;
                }
            }
        }
        var Component = Vue.extend(Main);
        new Component().$mount('#app')
    });
    </script>
    <script type="text/javascript">
        //<!-- 二级联动 -->
        $(function () {
            $("#group").selectpicker({
            noneSelectedText : '请先选择项目'
            });
            $("#department").selectpicker({
            noneSelectedText : '请先选择项目'
            });
            $("#user").selectpicker({
            noneSelectedText : '请先选择组'
            });

            $(window).on('load', function() {
                $('.selectpicker').selectpicker('val', '');
                $('.selectpicker').selectpicker('refresh');
            });
            //获取组
            $('#project_name').change(function () {
                if ($(this).val() == '') {
                    return false
                }
                $.get('/get_group_' + $(this).val() + '/', function (dict) {
                    county = $('#group');
                    county.empty().append('<option value="">-- 请选择组 --</option>');
                    $.each(dict.data, function (index, item) {
                        county.append('<option value=' + item[0] + '>' + item[1] + '</option>');
                    });
                    county.selectpicker('val', '');
                    county.selectpicker('refresh');
                    county2 = $('#department');
                    county2.empty().append('<option value="">-- 请选择部门 --</option>');
                    $.each(dict.data2, function (index, item) {
                        county2.append('<option value=' + item[0] + '>' + item[1] + '</option>');
                    });
                    county2.selectpicker('val', '');
                    county2.selectpicker('refresh');
                });
            });
            //获取用户
            $('#group').change(function () {
                if ($(this).val() == '') {
                    return false
                }
                $.get('/get_user_' + $(this).val() + '/', function (dict) {
                    county = $('#user');
                    county.empty().append('<option value="">请选择用户</option>');
                    $.each(dict.data, function (index, item) {
                        county.append('<option value=' + item[0] + '>' + item[1] + '</option>');
                    });
                    county.selectpicker('val', '');
                    county.selectpicker('refresh');
                })
            });
        });
        $("#flow").css("display","block");
        $("#project_authority_manage").addClass('current-page');
    </script>
{% endblock %}