{% extends 'detail.html' %}
{% load staticfiles %}
{% block page_title %}业务用户变更{% endblock %}
{% block table_title %}详情{% endblock %}
{#{% block detial_title %}详情{% endblock %}#}
{% block detail_info %}
    <table class="table">
      <tbody>
      {% for line in list %}
        <tr>
          <th>申请类型:</th>
          <td>{{ line.get_type_display }}</td>
        </tr>
        <tr>
          <th style="width:20%">项目:</th>
          <td>{{ line.project }}</td>
        </tr>
        <tr>
          <th>部门:</th>
          <td>{{ line.department }}</td>
        </tr>
        <tr>
          <th>部门负责人:</th>
          <td>{{ line.department.depart_director }}</td>
        </tr>
        <tr>
          <th>添加组:</th>
          <td>{{ line.user_group}}</td>
        </tr>
        <tr>
          <th>提交人:</th>
          <td>
              {% if line.submitter.last_name or line.submitter.first_name %}
                {{ line.submitter.last_name }}{{ line.submitter.first_name }}
              {% else %}
                {{ line.submitter }}
              {% endif %}
          </td>
        </tr>
        <tr>
          <th>申请人:</th>
          <td>{{ line.applicant }}</td>
        </tr>
        <tr>
          <th>申请用户名:</th>
          <td>{{ line.user_name }}</td>
        </tr>
        <tr>
          <th>启用/禁用:</th>
          <td>{{ line.get_is_active_display}}</td>
        </tr>

        <tr>
          <th>备注:</th>
          <td><div id="desc_maxlenght" style="word-break: break-all;">{% autoescape off %}{{ line.remarks }}{% endautoescape %}</div></td>
        </tr>
        <tr>
          <th>申请时间:</th>
          <td>{{ line.applicationtime | date:"Y-m-d H:i:s" }}</td>
        </tr>
        <tr>
          <th>执行时间:</th>
          <td>{{ line.execute_time | date:"Y-m-d H:i:s" }}</td>
        </tr>
        <tr>
          <th>状态:</th>
          <td>
            {% if line.get_status_display == '执行完成' %}
            <span class="btn btn-xs" style="background:#5CB85C;color:#FFFFFF;">{{ line.get_status_display }}</span>
            {% elif line.get_status_display == '待执行' %}
            <span class="btn btn-xs" style="background:#5bc0de;color:#FFFFFF;">{{ line.get_status_display }}</span>
            {% elif line.get_status_display == '待审批' %}
            <span class="btn btn-xs" style="background:#5bc0de;color:#FFFFFF;">{{ line.get_status_display }}</span>
            {% elif line.get_status_display == '不通过' %}
            <span class="btn btn-xs" style="background:#ff4850;color:#FFFFFF;">{{ line.get_status_display }}</span>
            {% else %}
            <span>{{ line.get_status_display }}</span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}
{% block ystep %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        {% for line in list %}
        {% if line.status != 0 %}
        <div class="x_panel">
          <div class="x_title">
              <h2>流程</h2>
            <ul class="nav navbar-right panel_toolbox">
            <!--   <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li> -->
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="ystep1"></div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        <!-- 审批按钮 -->
            <div class="approval">
                {% for line in list %}
                {% if line.status == 1 %}
                <a href="/flow/user_apply_list/user_apply_approval/{{ line.id }}_2" style="color: inherit"><button type="button" class="btn btn-success"> 部门负责人审批通过 </button></a>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal_reject"> 驳回 </button>
                {% endif %}
                {% if line.status == 2 %}
                <a href="/flow/user_apply_list/user_operate_implement/{{ line.id }}_3" style="color: inherit"><button type="button" class="btn btn-primary" style="width: 130px;"> 执行 </button></a>
                {% endif %}
                {% endfor %}
                <a href="{% url 'user_apply_list' %}"><button type="button" class="btn btn-default"> 返回 </button></a>
            </div>
        <!-- ./approval -->
    </div>
    <!-- 驳回意见 模态框（Modal） -->
    <div class="modal fade" id="myModal_reject" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 900px; z-index: 2041;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">驳回意见</h4>
                </div>
                    {% for line in list %}
                    <form method="get" action="/flow/user_apply_list/user_apply_approval/{{ line.id }}_0">
                    {% endfor %}
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <textarea class="form-control" id="reject_comment" name="reject_comment"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button name="submit" type="submit" class="btn btn-primary"> 提交 </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div><!-- 模态框 -->

{% endblock %}
{% block ext_script_add %}
    <!-- Detail-->
    <script src="{% static 'js/aukeyops/detail.js' %}"></script>
    <script src="{% static 'js/postbird-img-glass.min.js' %}"></script>
    <script>
    PostbirdImgGlass.init({
        domSelector:"img",
        animation:true
    });
    </script>
    <script>
        $("#flow").css("display","block");
        $("#user_apply").addClass('current-page');
        function send_comment(){
            $("#comment_form").val($("#editor").html());
        }
        $(".ystep1").loadStep({
            //ystep的外观大小
            //可选值：small,large
            size: "small",
            //ystep配色方案
            //可选值：green,blue
            color: "green",
            //ystep中包含的步骤
            steps: [{
                //步骤名称
                title: "申请",
                //步骤内容(鼠标移动到本步骤节点时，会提示该内容)
                content: "申请新建项目"
            },{
                title: "待审批",
                content: "等待项目审批"
            },{
                title: "审批完成",
                content: "审批完成"
            },{
                title: "待执行",
                content: "等待执行"
            },{
                title: "执行完成",
                content: "执行完成"
            }]
        });
        {% for line in list %}
        {% if line.status == 1 %}
            $(".ystep1").setStep(2);
        {% elif line.status == 2 %}
            $(".ystep1").setStep(4);
        {% elif line.status == 3 %}
            $(".ystep1").setStep(5);
        {% endif %}
        {% endfor %}
        function DeleteComment(ID){
            $.confirm({
                title: '确定要删除这条记录吗？',
                closeIcon: true,
                confirmButtonClass:'btn-danger',
                cancelButtonClass: 'btn-default ',
                confirmButton: '删除!',
                cancelButton: '取消',
                confirm: function(){
                    $.ajax({
                        type: "get",
                        url: "/flow/user_apply_list/user_apply_details/delete_comment/"+ ID,
                        dataType: "json",
                        success: function(result) {
                            if(result['result'] == 'true'){
                                location.reload();
                            }else{
                                new PNotify({
                                  title: 'ERROR',
                                  text: '您没有权限删除这条记录!',
                                  type: 'error',
                                  styling: 'bootstrap3'
                                });
                            }
                        }
                    });
                }
            });
        }
    </script>
{% endblock %}