body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1912px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
}
#u5054 {
  position:absolute;
  left:1066px;
  top:11px;
  width:300px;
  height:35px;
}
#u5055 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:46px;
}
#u5056 {
  position:absolute;
  left:1700px;
  top:0px;
  width:60px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#009933;
}
#u5057 {
  position:absolute;
  left:2px;
  top:16px;
  width:56px;
  word-wrap:break-word;
}
#u5058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5058 {
  position:absolute;
  left:0px;
  top:1280px;
  width:1px;
  height:46px;
}
#u5059 {
  position:absolute;
  left:2px;
  top:-25px;
  width:1px;
  word-wrap:break-word;
}
#u5060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:46px;
}
#u5060 {
  position:absolute;
  left:1760px;
  top:0px;
  width:60px;
  height:46px;
  font-size:11px;
  color:#999999;
}
#u5061 {
  position:absolute;
  left:2px;
  top:16px;
  width:56px;
  word-wrap:break-word;
}
#u5062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u5062 {
  position:absolute;
  left:1860px;
  top:11px;
  width:22px;
  height:21px;
}
#u5063 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1662px;
  height:1067px;
}
#u5064 {
  position:absolute;
  left:250px;
  top:46px;
  width:1662px;
  height:1067px;
}
#u5065 {
  position:absolute;
  left:2px;
  top:526px;
  width:1658px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1615px;
  height:1043px;
}
#u5066 {
  position:absolute;
  left:275px;
  top:70px;
  width:1615px;
  height:1043px;
}
#u5067 {
  position:absolute;
  left:2px;
  top:514px;
  width:1611px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u5068 {
  position:absolute;
  left:11px;
  top:60px;
  width:26px;
  height:21px;
}
#u5069 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1582px;
  height:226px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5070 {
  position:absolute;
  left:308px;
  top:98px;
  width:1582px;
  height:226px;
}
#u5071 {
  position:absolute;
  left:2px;
  top:105px;
  width:1578px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1582px;
  height:226px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5072 {
  position:absolute;
  left:308px;
  top:353px;
  width:1582px;
  height:226px;
}
#u5073 {
  position:absolute;
  left:2px;
  top:105px;
  width:1578px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1582px;
  height:226px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5074 {
  position:absolute;
  left:308px;
  top:612px;
  width:1582px;
  height:226px;
}
#u5075 {
  position:absolute;
  left:2px;
  top:105px;
  width:1578px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5076 {
  position:absolute;
  left:308px;
  top:860px;
  width:300px;
  height:220px;
}
#u5077 {
  position:absolute;
  left:2px;
  top:102px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5078 {
  position:absolute;
  left:734px;
  top:860px;
  width:300px;
  height:220px;
}
#u5079 {
  position:absolute;
  left:2px;
  top:102px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5080 {
  position:absolute;
  left:1173px;
  top:860px;
  width:300px;
  height:220px;
}
#u5081 {
  position:absolute;
  left:2px;
  top:102px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5082 {
  position:absolute;
  left:1590px;
  top:860px;
  width:300px;
  height:220px;
}
#u5083 {
  position:absolute;
  left:2px;
  top:102px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:21px;
}
#u5084 {
  position:absolute;
  left:276px;
  top:11px;
  width:28px;
  height:21px;
}
#u5085 {
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
}
#u5086 {
  position:absolute;
  left:308px;
  top:11px;
  width:93px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u5087 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u5088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
}
#u5088 {
  position:absolute;
  left:408px;
  top:11px;
  width:93px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u5089 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u5090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
}
#u5090 {
  position:absolute;
  left:508px;
  top:11px;
  width:93px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u5091 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u5092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
}
#u5092 {
  position:absolute;
  left:608px;
  top:11px;
  width:93px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u5093 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u5094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
}
#u5094 {
  position:absolute;
  left:708px;
  top:11px;
  width:93px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u5095 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u5096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:46px;
}
#u5096 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:46px;
  color:#999999;
}
#u5097 {
  position:absolute;
  left:2px;
  top:15px;
  width:246px;
  word-wrap:break-word;
}
#u5098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:1080px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5098 {
  position:absolute;
  left:0px;
  top:46px;
  width:250px;
  height:1080px;
}
#u5099 {
  position:absolute;
  left:2px;
  top:532px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u5100 {
  position:absolute;
  left:9px;
  top:105px;
  width:23px;
  height:21px;
}
#u5101 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:23px;
}
#u5102 {
  position:absolute;
  left:47px;
  top:103px;
  width:186px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u5103 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u5104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:23px;
}
#u5104 {
  position:absolute;
  left:47px;
  top:133px;
  width:186px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u5105 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u5106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:23px;
}
#u5106 {
  position:absolute;
  left:47px;
  top:163px;
  width:186px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u5107 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u5108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:23px;
}
#u5108 {
  position:absolute;
  left:47px;
  top:193px;
  width:186px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u5109 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u5110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:23px;
}
#u5110 {
  position:absolute;
  left:47px;
  top:223px;
  width:186px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u5111 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u5112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:23px;
}
#u5112 {
  position:absolute;
  left:47px;
  top:253px;
  width:186px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u5113 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u5114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u5114 {
  position:absolute;
  left:9px;
  top:283px;
  width:23px;
  height:21px;
}
#u5115 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:23px;
}
#u5116 {
  position:absolute;
  left:47px;
  top:283px;
  width:186px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u5117 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u5118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:23px;
}
#u5118 {
  position:absolute;
  left:47px;
  top:313px;
  width:186px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u5119 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u5120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:23px;
}
#u5120 {
  position:absolute;
  left:47px;
  top:343px;
  width:186px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u5121 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u5122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:23px;
}
#u5122 {
  position:absolute;
  left:47px;
  top:373px;
  width:186px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u5123 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u5124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:23px;
}
#u5124 {
  position:absolute;
  left:47px;
  top:403px;
  width:186px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u5125 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u5126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:23px;
}
#u5126 {
  position:absolute;
  left:47px;
  top:433px;
  width:186px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u5127 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u5128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u5128 {
  position:absolute;
  left:9px;
  top:523px;
  width:23px;
  height:21px;
}
#u5129 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:23px;
}
#u5130 {
  position:absolute;
  left:47px;
  top:523px;
  width:186px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u5131 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u5132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:23px;
}
#u5132 {
  position:absolute;
  left:47px;
  top:553px;
  width:186px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u5133 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u5134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:23px;
}
#u5134 {
  position:absolute;
  left:47px;
  top:583px;
  width:186px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u5135 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u5136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u5136 {
  position:absolute;
  left:9px;
  top:613px;
  width:23px;
  height:21px;
}
#u5137 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:23px;
}
#u5138 {
  position:absolute;
  left:47px;
  top:613px;
  width:186px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u5139 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u5140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:23px;
}
#u5140 {
  position:absolute;
  left:47px;
  top:643px;
  width:186px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u5141 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u5142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:23px;
}
#u5142 {
  position:absolute;
  left:47px;
  top:673px;
  width:186px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u5143 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u5144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:23px;
}
#u5144 {
  position:absolute;
  left:47px;
  top:703px;
  width:186px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u5145 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u5146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:23px;
}
#u5146 {
  position:absolute;
  left:47px;
  top:733px;
  width:186px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u5147 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u5148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:23px;
}
#u5148 {
  position:absolute;
  left:47px;
  top:763px;
  width:186px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u5149 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u5150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:23px;
}
#u5150 {
  position:absolute;
  left:48px;
  top:463px;
  width:186px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u5151 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u5152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:23px;
}
#u5152 {
  position:absolute;
  left:48px;
  top:493px;
  width:186px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u5153 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  word-wrap:break-word;
}
#u5154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5154 {
  position:absolute;
  left:0px;
  top:56px;
  width:250px;
  height:37px;
  color:#FFFFFF;
  text-align:left;
}
#u5155 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u5156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u5156 {
  position:absolute;
  left:11px;
  top:60px;
  width:26px;
  height:21px;
}
#u5157 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
