<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>404 | AUKEY </title>

    <!-- Bootstrap -->
    <link href="{%static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

{#    <link rel="stylesheet" href="{%static 'css/error_style.css' %}">#}
    <!-- Custom Theme Style -->
    <link href="{%static 'css/custom.min.css'%}" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <!-- page content -->
        <div class="col-md-12">
          <div class="col-middle">
            <div class="text-center text-center">
              <h1 class="error-number">404</h1>
              <h2>"NOT FOUND!"</h2>
              <p>很抱歉, 您访问的页面不存在!</p>
              <div class="main w3l">
                <a href="#" onClick="javascript :history.go(-1);" class="back">GO BACK</a>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>
  </body>
</html>

{#<!DOCTYPE html>#}
{#{% load staticfiles %}#}
{#<html>#}
{#<head>#}
{#	<title>ERROR 404 - AUKEY</title>#}
{#	<link rel="stylesheet" href="{%static 'css/error_style.css' %}">#}
{#	<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200italic,200,300,300italic,400italic,600,600italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>#}
{#	<!-- For-Mobile-Apps-and-Meta-Tags -->#}
{#		<meta name="viewport" content="width=device-width, initial-scale=1" />#}
{#		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#		<meta name="keywords" content="Simple Error Page Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />#}
{#		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>#}
{#	<!-- //For-Mobile-Apps-and-Meta-Tags -->#}
{##}
{#</head>#}
{#<body>#}
{#	<div class="main w3l">#}
{#		<h2>AUKEY</h2>#}
{#		<h1> ERROR 404</h1>#}
{#		<h3>"NOT FOUND!"</h3>#}
{#		<a href="#"  onClick="javascript :history.go(-1);" class="back">GO BACK</a>#}
{#	</div>#}
{##}
{#</body>#}
{#</html>#}