{% extends 'table.html' %}
{% csrf_token %}
{% block page_title %}消息中心{% endblock %}
{% block table_title %}列表{% endblock %}
{% block ext_button %}
    <div id="toolbar" class="btn-group pull-right" style="margin-bottom: 10px;">
        <button id="change_isread" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 标记为已读
        </button>
        <button id="btn_delete" type="button" class="btn btn-default" style="margin-right: 50px;">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 删除
        </button>

        <a href="{% url 'all_message' %}">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 所有消息
            </button>
        </a>
        <a href="{% url 'isread_message' 0 %}">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-bell" aria-hidden="true"></span> 未读消息
            </button>
        </a>
        <a href="{% url 'isread_message' 1 %}">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> 已读消息
            </button>
        </a>
    </div>
{% endblock %}
{% block table %}
    <script type="text/javascript">
        function initTable() {
            $('#table').bootstrapTable({
                method: "post",  //使用post请求到服务器获取数据
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",//必须要有
                dataType: "json",
                cache: false,
                url:{% if isread != 'all' %}'/usercenter/message/isread/{{ isread }}/'{% else %}'{% url "all_message" %}'{% endif %},
                toolbar: '#toolbar',//指定工具栏
                striped: true,  //表格显示条纹
                dataField: "rows",
                pagination: true, //启动分页
                sortable: true,  //启用排序
                pageSize: 15,  //每页显示的记录数
                pageNumber:1, //当前第几页
                pageList: [5, 10, 15, 20, 25],  //记录数可选列表
                search: true,  //是否启用查询
                searchOnEnterKey:true, //设置为 true时，按回车触发搜索方法，否则自动触发搜索方法
                searchAlign:'left', //指定 搜索框 水平方向的位置。’left’ or ‘right’
                showColumns: true,  //显示下拉框勾选要显示的列
                showRefresh: true,  //显示刷新按钮
                showSearchButton: false, //显示搜索按钮
                showExport: true,//显示导出按钮
                exportDataType: "all", //'basic'导出当前页, 'all'导出所有数据, 'selected'导出选中的数据.
                sidePagination: "server", //表示服务端请求
                //设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
                //设置为limit可以获取limit, offset, search, sort, order
                queryParamsType : "undefined",
                clickToSelect: true,//是否启用点击选中行
                toolbarAlign:'right',//工具栏对齐方式
                buttonsAlign:'left',//按钮对齐方式
                columns:[
                    {
                        title:'全选',
                        field:'select',
                        //复选框
                        checkbox:true,
                        width:25,
                        align:'center',
                        valign:'middle'
                    },
                    {
                        title:'标题',
                        field:'title',
                        sortable:false
                    },
                    {
                        title:'时间',
                        field:'time',
                        sortable:true,
                        sortName:'project'
                    },
                    {
                        title:'消息类型',
                        field:'type',
                        sortable:false
                    },
                    {
                        title:'状态',
                        field:'status',
                        sortable:true,
                        formatter :function(value,row,index) {
                            if(value == "已读") {
                                var a = '<span class="btn btn-xs" style="background:#5CB85C;color:#FFFFFF;">'+value+'</span>';
                            }else if(value == "未读") {
                                var a = '<span class="btn btn-xs" style="background:#ff4850;color:#FFFFFF;">'+value+'</span>';
                            }else{
                                var a = '<span>'+value+'</span>';
                            }
                            return a;
                        }
                    },
                    {
                        title:'操作',
                        field:'id',
                        align:'center',
                        //列数据格式化
                        //formatter:operateFormatter
                        formatter:function(value,row,gitflow){
                            var w = '<a href="/usercenter/message/detail/'+ row.id +'"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查看详情</button></a> ';
                            var d = '<button type="button" id="btn_submit1" class="btn btn-danger btn-xs" onclick="return Delete('+row.id+')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 删除</button> ';
                                return w+d;
                        }
                    }
                ],
                queryParams: function queryParams(params) {   //设置查询参数
                    var param = {
                        csrfmiddlewaretoken :$("input[name='csrfmiddlewaretoken']").val(),
                        pageNumber: params.pageNumber,
                        pageSize: params.pageSize,
                        search:params.searchText,
                        order:params.sortOrder,
                        sort:params.sortName,
                    };
                    return param;
                }
            });
        }

        $(document).ready(function () {
            //调用函数，初始化表格
            initTable();
            //当点击查询按钮的时候执行
            $("#search").bind("click", initTable);
        });
        function Delete(ID){
            $.confirm({
                title: '提示！',
                content: '确定要删除吗？',
                closeIcon: true,
                confirmButtonClass:'btn-danger',
                cancelButtonClass: 'btn-default ',
                confirmButton: '删除!',
                cancelButton: '取消',
                confirm: function(){
                    $.get('/usercenter/message/delete/' + ID + '/');
                    $.get('/usercenter/message/all/');
                    $('#table').bootstrapTable("refresh");
                    new PNotify({
                      title: 'SUCCESS',
                      text: '删除成功!',
                      type: 'success',
                      styling: 'bootstrap3'
                    });
                }
            });
        }
        $('#change_isread').click(function () {
            // 标记为已读
            var selectContent = $('#table').bootstrapTable('getSelections');
                if(selectContent == '') {
                    alert('请选择数据');
                    return false;
                }else{
                $.ajax({
                    type: "post",
                    url: "{% url 'message_change_status' %}",
                    dataType: "json",
                    data: JSON.stringify(selectContent),
                    success: function(result) {
                        if(result = 'true'){
                            // 重新获取未读消息
                            document.getElementById("menu1").innerHTML= '<li>' +
                                '<a href="{% url "isread_message" 0 %}" id="unhead_count_two"></a></li>';
                            $.get('/usercenter/message/check_unread_message/', function (dict) {
                                $.each(dict.data, function (index, item) {
                                    var aText = ' <li><a href="/usercenter/message/detail/'+item[0]+'/">' +
                                        '<span><span>工作流</span><span class="time">'+item[2]+'</span>' +
                                        '</span><span  class="message">'+item[1]+'</span></a></li>';
                                    var html = document.getElementById("menu1").innerHTML;
                                    document.getElementById("menu1").innerHTML= html + aText;
                                });
                                $.each(dict.data2, function (index, item) {
                                    document.getElementById("unread_message_count").innerHTML=item;
                                    if (item > 10){
                                        var cText = ' <li><a href="{% url "isread_message" 0 %}">' +
                                        '</span><span class="m-left-xs">查看更多...</span></a></li>';
                                        var chtml = document.getElementById("menu1").innerHTML;
                                        document.getElementById("menu1").innerHTML= chtml + cText;
                                    }
                                });
                                var bText = '<li><div class="text-center"><a href="{% url "all_message" %}"><strong>See All Alerts</strong></a></div></li>';
                                var bhtml = document.getElementById("menu1").innerHTML;
                                document.getElementById("menu1").innerHTML= bhtml + bText;
                            });
                            // 刷新表格
                            $('#table').bootstrapTable("refresh");
                        }
                    }
                });
            }
        });
        $('#btn_delete').click(function () {
            // 批量删除
            var selectContent = $('#table').bootstrapTable('getSelections');
                if(selectContent == '') {
                    alert('请选择数据');
                    return false;
                }else{
                $.ajax({
                    type: "post",
                    url: "{% url 'message_batch_delete' %}",
                    dataType: "json",
                    data: JSON.stringify(selectContent),
                    success: function(result) {
                        if(result = 'true'){
                            new PNotify({
                              title: 'SUCCESS',
                              text: '删除成功',
                              type: 'success',
                              styling: 'bootstrap3'
                            });
                            // 重新获取未读消息
                            document.getElementById("menu1").innerHTML= '<li>' +
                                '<a href="{% url "isread_message" 0 %}" id="unhead_count_two"></a></li>';
                            $.get('/usercenter/message/check_unread_message/', function (dict) {
                                $.each(dict.data, function (index, item) {
                                    var aText = ' <li><a href="/usercenter/message/detail/'+item[0]+'/">' +
                                        '<span><span>工作流</span><span class="time">'+item[2]+'</span>' +
                                        '</span><span  class="message">'+item[1]+'</span></a></li>';
                                    var html = document.getElementById("menu1").innerHTML;
                                    document.getElementById("menu1").innerHTML= html + aText;
                                });
                                $.each(dict.data2, function (index, item) {
                                    document.getElementById("unread_message_count").innerHTML=item;
                                    if (item > 10){
                                        var cText = ' <li><a href="{% url "isread_message" 0 %}">' +
                                        '</span><span class="m-left-xs">查看更多...</span></a></li>';
                                        var chtml = document.getElementById("menu1").innerHTML;
                                        document.getElementById("menu1").innerHTML= chtml + cText;
                                    }
                                });
                                var bText = '<li><div class="text-center"><a href="{% url "all_message" %}"><strong>See All Alerts</strong></a></div></li>';
                                var bhtml = document.getElementById("menu1").innerHTML;
                                document.getElementById("menu1").innerHTML= bhtml + bText;
                            });
                            $('#table').bootstrapTable("refresh");
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}
{% block ext_script %}
    <script>
        $("#usercenter_menu_id").css("display","block");
        $("#messages_center").addClass('current-page');
    </script>
{% endblock %}