{% extends 'table.html' %}
{% load staticfiles %}
{% block page_title %}{% endblock %}
{% block table_title %}
    <div class="ivu-btn-group pull-left" style="padding-left: 0; padding-bottom: 5px;" id="view_trans_div_id">
        <button id="view1_id" type="button" class="ivu-btn ivu-btn-primary" onclick="view_trans(1)">实例管理</button>
        <button id="view2_id" type="button" class="ivu-btn ivu-btn-ghost" onclick="view_trans(2)">云平台RDS</button>
{#        <button id="" type="button" class="ivu-btn ivu-btn-ghost" data-toggle="modal" data-target="#CountModal">采购统计</button>#}
    </div>
{% endblock %}
{% block ext_before %}
{#    <link rel="stylesheet" href="{% static 'ztree/css/metroStyle/metroStyle.css' %}" type="text/css">#}
{#    <link href="{% static 'jedate/jedate.css' %}" rel="stylesheet" />#}
{#    <link href="{% static 'bootstrap-datetimepicker/css/bootstrap-datetimepicker.css' %}" rel="stylesheet" />#}
    <link href="{% static 'css/asset_list.css' %}" rel="stylesheet" />
{#    <link href="{% static 'jqueryui/jquery-ui-1.10.4.custom.min.css' %}" rel="stylesheet" />#}
{#    <link href="{%static 'css/jquery-confirm-3.3.0.css' %}" rel="stylesheet" type="text/css">#}
{% endblock %}
{% block ext_button %}
    <div id="toolbar" class="btn-group pull-right" style="margin-bottom: 10px;">
        <a href="{% url 'add_instance' %}" style="color: #333333">
            <button id="btn_add" type="button" class="btn btn-default" style="float: right">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增
            </button>
        </a>
    </div>
{% endblock %}
{% block table %}
    <script type="text/javascript">
        let local_instance_column = [
                    {
                        title:'ID',
                        field:'id',
                        align:'center',
                        sortable:true
                    },
                    {
                        title:'实例名',
                        field:'instance_name',
                        align:'center',
                        sortable:true,
                        formatter: function(value, row, index){
                            return "<a href=\"/database/instance/" +row.id+"\"><button type=\"button\" class=\"btn btn-xs btn-link\">"+value+"</button></a>";
                        }
                    },
                    {
                        title:'服务器 IP',
                        field:'server_ip',
                        align:'center',
                        sortable:true
                    },
                     {
                        title:'类型',
                        field:'instance_type',
                        align:'center',
                        sortable:true
                    },
                    {
                        title:'用户名',
                        field:'instance_username',
                        align:'center',
                        sortable:true
                    },
                    {
                        title:'实例端口',
                        field:'instance_port',
                        align:'center',
                        sortable:true
                    },
                    {
                        title:'所属项目',
                        field:'project_name',
                        align:'center',
                        sortable:true
                    },
                    {
                        title:'实例角色',
                        field:'instance_role',
                        align:'center',
                        sortable:true
                    },
                    {
                        title:'所属环境',
                        field:'instance_env',
                        align:'center',
                        sortable:true
                    },
                    {
                        title:'操作',
                        field:'id',
                        align:'center',
                        //列数据格式化
                        //formatter:operateFormatter
                        formatter:function(value,row,gitflow){
                            var e = '<a href="/database/instance/modify/'+ row.id +'"><button type="button" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit" aria-hidden="true">编辑</button></a> ';
                            var d = '<a href="/database/instances/'+ row.id +'" mce_href="#" onclick="return delete_sql();"><button type="button" id="btn_submit1" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 删除</button></a> ';
                                return e+d;
                        }
                    }
                ];
        let rds_column = [
                    {
                        title:'instance_id',
                        field:'instance_id',
                        align:'center',
                        sortable:true
                    },
                    {
                        title:'名称',
                        field:'instance_description',
                        align:'center',
                        sortable:true
                    },
                    {
                        title:'platform',
                        field:'platform',
                        align:'center',
                        sortable:true
                    },
                    {
                        title:'规格',
                        field:'instance_class',
                        align:'center',
                        sortable:true
                    },
                    {
                        title:'角色',
                        field:'instance_type',
                        align:'center',
                        sortable:true
                    },
                     {
                        title:'engine',
                        field:'engine',
                        align:'center',
                        sortable:true
                    },
                    {
                        title:'区域',
                        field:'region_id',
                        align:'center',
                        sortable:true
                    },
                    {
                        title:'创建时间',
                        field:'create_time',
                        align:'center',
                        sortable:true
                    },
                    {
                        title:'付费类型',
                        field:'expire_time',
                        align:'center',
                        sortable:true,
                        formatter:function(value,row,gitflow){
                            if (value > 7 & value != ''){
                                return '包月 <font color="green" >'+value+'</font> 天后到期';
                            }else if(value <= 7 & value != ''){
                                return '包月 <b><font color="red" >'+value+'</font></b> 天后到期';
                            }else{
                                return '自动续费'
                            }
                        }
                    },
                    {
                        title:'状态',
                        field:'instance_status',
                        align:'center',
                        sortable:true,
                        formatter:function(value,row,gitflow){
                            if (value == 'Running'){
                                return '<button type="button" class="btn btn-info btn-xs">'+value+'</button>';
                            }else{
                                return '<button type="button" class="btn btn-danger btn-xs">'+value+'</button>';
                            }
                        }
                    },
                ];

        function initTable() {
            $('#table').bootstrapTable({
                method: "post",  //使用post请求到服务器获取数据
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",//必须要有
                dataType: "json",
                cache: false,
                url:'/database/instances/',
                toolbar: '#toolbar',//指定工具栏
                striped: true,  //表格显示条纹
                dataField: "rows",
                pagination: true, //启动分页
                sortable: true,  //启用排序
                pageSize: 15,  //每页显示的记录数
                pageNumber:1, //当前第几页
                pageList: [5, 10, 15, 20, 25],  //记录数可选列表
                search: true,  //是否启用查询
                searchOnEnterKey:true, //设置为 true时，按回车触发搜索方法，否则自动触发搜索方法
                searchAlign:'left', //指定 搜索框 水平方向的位置。’left’ or ‘right’
                showColumns: true,  //显示下拉框勾选要显示的列
                showRefresh: true,  //显示刷新按钮
                showSearchButton: false, //显示搜索按钮
                showExport: true,//显示导出按钮
                exportDataType: "all", //'basic'导出当前页, 'all'导出所有数据, 'selected'导出选中的数据.
                sidePagination: "server", //表示服务端请求
                //设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
                //设置为limit可以获取limit, offset, search, sort, order
                queryParamsType : "undefined",
                clickToSelect: true,//是否启用点击选中行
                toolbarAlign:'right',//工具栏对齐方式
                buttonsAlign:'left',//按钮对齐方式
                columns: local_instance_column,
                queryParams: function queryParams(params) {   //设置查询参数
                    var param = {
                        //加上csrf
                        csrfmiddlewaretoken :$("input[name='csrfmiddlewaretoken']").val(),
                        pageNumber: params.pageNumber,
                        search:params.searchText,
                        pageSize: params.pageSize,
                        order:params.sortOrder,
                        sort:params.sortName
                    };
                    return param;
                },

            });
        }
        function view_trans(view) {
            $("#view_trans_div_id button").attr("class","ivu-btn ivu-btn-ghost");
            $("#view"+view+"_id").attr("class","ivu-btn ivu-btn-primary");
            if (view == 1){
                $('#btn_add').show();
                $('#table').bootstrapTable('refreshOptions', {
                    url:'/database/instances/',
                    columns: local_instance_column,
                    pageNumber:1, //当前第几页
                    detailView: false
                })
            } else if (view == 2) {
                $('#btn_add').hide();
                $('#table').bootstrapTable('refreshOptions', {
                    url:'/database/rds/',
                    columns: rds_column,
                    pageNumber:1, //当前第几页
                    detailView: false
                })
            }
        }

        $(document).ready(function () {
            //调用函数，初始化表格
            initTable();

            //当点击查询按钮的时候执行
            $("#search").bind("click", initTable);
        });

        function delete_sql(){
            if(confirm("确定要删除吗")){
                return true;
            }else{
                return false;
            }
        }

    </script>
{% endblock %}
{% block ext_script %}{% endblock %}