{% extends 'login.html' %}
{% load i18n static %}
{% block h1_title %}{% endblock %}
{% block foot %}{% endblock %}
{% block content %}
<style>
    .title{font-size: 25px}
</style>
<p class="title">密码重置链接已经发送</p>
<p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
{% endblock %}

{% block button_div %}{% endblock %}
{% block but_link %}<a href="{% url 'login' %}" style="float: right;color: #b2b2b2;font-weight: normal" class="btn btn-link">返回登录</a>{% endblock %}
