{% extends 'login.html' %}
{% load i18n static %}
{% block h1_title %}<h1>{{ title }}</h1>{% endblock %}
{% block foot %}{% endblock %}
{% block content %}
<style>
    .point{color:#9f9f9f;margin-bottom: 50px;}
    li{list-style-type:none; color: #ff4850}
</style>

{% if validlink %}

<div class="point"><p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p></div>
{% csrf_token %}
    <fieldset class="module aligned">
        <div class="form-row field-password1">
            {{ form.new_password1.errors }}
            {{ form.new_password1 }}
        </div>
        <div class="form-row field-password2">
            {{ form.new_password2.errors }}
            {{ form.new_password2 }}
        </div>
    </fieldset>
{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
{% endif %}

{% endblock %}

{% block button_div %}
    {% if validlink %}
    <div>
        <button type="submit" class="btn btn-default submit">{% trans 'Change my password' %}</button>
    </div>
    {% endif %}
{% endblock %}
{% block but_link %}<div class="clearfix"><a href="{% url 'login' %}" style="float: right;color: #FFFFFF;font-weight: normal" class="btn btn-link">返回登录</a></div>{% endblock %}
{% block ext_script %}
    <script>
        document.getElementById("id_new_password1").className="form-control";
        $("#id_new_password1").prop({placeholder:"{% trans '新密码' %}"});
        document.getElementById("id_new_password2").className="form-control";
        $("#id_new_password2").prop({placeholder:"{% trans '确认新密码' %}"});
    </script>
{% endblock %}