{% extends 'form.html' %}
{% load i18n static %}
{% block page_title %}AUKEY Ops{% endblock %}
{% block table_title %}密码修改{% endblock %}
{% block ext_before %}
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}" />
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}" />{% endif %}
{% endblock %}
{% block page_form %}
<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
{% if form.errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
{% endif %}
</p>
<span class="section"></span>
    <fieldset class="module aligned wide">
        <div class="form-group">
            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                {{ form.old_password.label_tag }}
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form.old_password }}
            </div>
            {{ form.old_password.errors }}
        </div>
        <div class="form-group">
            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                {{ form.new_password1.label_tag }}
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form.new_password1 }}
                {% if form.new_password1.help_text %}
                <div class="help">{{ form.new_password1.help_text|safe }}</div>
                {% endif %}
            </div>
            {{ form.new_password1.errors }}
        </div>
        <div class="form-group">
            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                {{ form.new_password2.label_tag }}
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form.new_password2 }}
                {% if form.new_password2.help_text %}
                <div class="help">{{ form.new_password2.help_text|safe }}</div>
                {% endif %}
            </div>
            {{ form.new_password2.errors }}
        </div>
    </fieldset>
{% endblock %}
{% block ext_script %}
    <script>
        document.getElementById("id_old_password").className="form-control";
        document.getElementById("id_new_password1").className="form-control";
        document.getElementById("id_new_password2").className="form-control";
    </script>
{% endblock %}